[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.Hide { display:none; }
.marginRadio input[type="radio"] {
    margin-left: 50px;
    margin-right: 10px;    
}
.marginRadio{
    font-size:18px;
}